@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding-top: 25px;
}